PROJECT_NAME=in-game-market

# ===== PostgreSQL Settings =====
DatabaseSettings__Host=localhost
DatabaseSettings__Port=5432
DatabaseSettings__Username=CHANGE_ME
DatabaseSettings__Password=CHANGE_ME
DatabaseSettings__Database=marketplace_dev
